<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reddot</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Trending Posts</h1>
        <table th:if="${posts.size() > 0}">
            <tr th:each="post : ${posts}">
                <td th:text="${post.vote}">1</td>
                <td>+</td>
                <td>-</td>
                <td th:text="${post.title}">Post title</td>
            </tr>
        </table>
        <div th:if="${posts.size() == 0}">No posts found shithead</div>
    </div>

</body>
</html>
