<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <div th:object="${post}">
            <div th:text="*{title}">
                Post Title
            </div>
            <div th:text="*{content}">
                Content
            </div>
            <div th:text="*{date}">
                Date posted
            </div>
            <div th:text="*{user_id}">
                Posted by:
            </div>
            <div>
                <a class="btn btn-primary" th:href="@{/post/{postId}/delete(postId=${post.postId})}" role="button">Delete</a>
            </div>
        </div>
    </div>

</body>
</html>
